body{background-color: rgb(235, 163, 31);}

h1 {text-align: center;color: hsla(39, 84%, 52%, 0.74); font-size: 200%;}

h2 {text-align: center;color: hsl(39, 84%, 52%,0.74);font-size: 170%;}

h3 {text-align: center;font-size: 140%;}

footer {text-align: center; color: black;}
